<app-header> </app-header>
<app-loader [loading]="loading"></app-loader>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">{{ feedChannel?.image.title }}</h1>
    <p class="lead">{{ feedChannel?.description }}</p>
    <button type="button" class="btn btn-link pl-0">
      {{ feedChannel?.link }}
    </button>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="p-3 font-weight-bolder">Total Feeds: {{ total$ | async }}</div>
  <div class="card mb-3" *ngFor="let entry of items$ | async">
    <div class="card-header">
      {{ entry.category | uppercase }}
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{ entry.title }}</h5>
        <p class="card-text disabled font-weight-light">
          {{ entry.pubDate | date: 'dd-MMM-yy h:mm:ss a ' }}
        </p>
      </div>
      <p class="card-text">{{ entry.description }}</p>
      <a href="{{ entry.link }}" target="_blank" class="btn btn-primary"
        >Read More</a
      >
    </div>
  </div>
  <app-pagination
    [total]="total$ | async"
    [page]="page"
    (goTo)="goToPage($event)"
  ></app-pagination>
</div>
