<app-header> </app-header>
<div class="container-fluid d-flex jumbotron justify-content-around">
  <div class="input-group mb-3 col-5">
    <form
      [formGroup]="rssForm"
      class="d-flex w-100"
      (ngSubmit)="urlValidator()"
    >
      <input
        formControlName="url"
        class="form-control"
        placeholder="Paste the Url"
      />
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="rssForm.invalid"
      >
        Send
      </button>
    </form>
  </div>
</div>
