<header
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">Feeds</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-3 text-dark"
      ><i class="pi pi-home cursor-pointer" (click)="backToHome()"></i
    ></a>
    <a class="p-2 text-dark">Features</a>
    <a class="p-2 text-dark">Enterprise</a>
    <a class="p-2 text-dark">Support</a>
    <a class="p-2 text-dark">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" (click)="logOut()">Sign out</a>
</header>
